.container{
    width: 90%;
    margin: auto;
    height: auto;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: gray;
    background-image: url("../image/sky.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
[class*='col-']{
    border: 0px solid antiquewhite;
    float: left;
}
*{box-sizing:border-box}

.row:after{
    dispaly: block;
    content: ' ';
    clear: both;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.header-height{height: 170px;}
.menu-height{height: 50px;}
.content1-height{height: 380px;}
.content2-height{height: 600px;}
.footer-height{height: 100px;}
.search-height{height: 80px}
.main-ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.main-li{
    float: left;
    width: 20%;
    border:0px solid red;
    position: relative;


}
.second-li{
    display: none;
}
.main-li a {
    text-decoration: none;
    display: block;
    text-align: center;
    height: 50px;
    background-color: #960D0D;
    color: white;
    padding-top: 15px;
    border: 0px solid white;

}
.main-li a:hover{
    background-color: #ff4d4d;
    color:white;
    transition: 1s;
    border-bottom: 3px solid white;
}
.main-li:hover .main-ul .second-li{
    display: block;}
.footer{
    background-color: darkgray;
}
.footer:hover{
    transform: scale(1.06);

}
.header{
    background-image: url("../image/menu bar.jpg");
    background-size: 100% 100%;

}
@keyframes slider {
    0%{background-image: url("../image/bangla.jpg");background-size: 100% 100%}
    25%{background-image: url("../image/hindis.jpg");background-size: 100% 100%}
    50%{background-image: url("../image/englishs.jpg");background-size: 100% 100%}
    75%{background-image: url("../image/bangla.jpg");background-size: 100% 100%}
    100%{background-image: url("../image/hindis.jpg");background-size: 100% 100%}

}
.slider {
    animation-name: slider;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    height: 100%;
    width: 100%;
}
.image-responsive{
    height: 100%;
    width: 100%;
}
.title{
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-shadow: 10px 10px 13px black;
    color: white;
}
.search-input {
    width: 88%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #263238;
    color: white;
}
.search-input:focus{
    box-shadow: 0px 0px 10px 5px gray;
    transition: 2s;
}
.search-btn{
    height: 50px;
    width: 100px;
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    margin-left: 8px;
}
.search-btn:hover{
    box-shadow: 0px 0px 10px 5px black;
    background-color: green;
    color: black;
    border-bottom: 3px solid red;
}
.search-area{
    border: 0px solid ;
    float: left;
    margin-top: 20px;
    width: 100%;

}
.header-ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.header-ul li{
    float: left;
    margin-top: 2px;
}
.login-ul{
    margin: 0px;
    padding: 0px;
    float: right;
}
.login-ul li{
    float: left;
    list-style-type: none;
}
.login-ul li a{
    display: block;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 7px;

}
.content-image{width: 100%;}
.content{margin-top: 5px;padding: 10px}
.content h3{
    color: white;
    float: right;
    margin-right: 50px;
}
.content p{
    padding: 5px;
    text-align: justify;
    color: white;
    float: right;
}
.btn{
    height: 40px;
    width: 120px;
    background-color: green;
    color: white;
    float: right;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 15px;


}
.btn:hover{
    border-bottom: 3px solid red;}
.resize{
    background-color: #181818;
    margin: 20px;

}
.resize:hover{
    box-shadow: 0px 0px 20px 5px gainsboro;
    /*transform: skewY(05deg);*/
    transition: 1s;
    transform: scale(1.05);

}
.about{
    margin-top: 20px;

}
.about:hover{
    transition: 2s;
    transform: scale(1.4);skew(10deg);
    color: azure;

}
.fa-facebook{
font-size: 10px;
    margin-right: 10px;
    color: #007399;
}
.fa-google{
    font-size: 1em;
    margin-right: 10px;
}
.fa-snapchat{
    font-size: 1em;
    margin-right: 10px;
}
.fa-youtube{
    font-size: 1em;
    margin-right: 10px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 90%;
}

